ion-content {
    --ion-background-color: white;
  }

.header {
    background: linear-gradient(#68D6F7, #3D7B8C);
    height: 200px;
    padding-top: 1px;
}

.header h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.img-profil {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.border-white{
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;
}

.border-blue{
    border: 7px solid #3D7B8C; 
    border-radius: 50%;
    width: fit-content; 
}

.name-time {
   margin-left: 10px;
   text-align: left; 
}

.flex{
    display: flex;
    justify-content: center;
    margin-top: -76px;
}

i {
    color: #68D6F7;
}

.message{
    margin-top: -10px;
}

.message ion-label {
    line-height: 1!important;
    font-size: 15px;
    margin: 6px 0px 6px 0px!important;
    min-height: 34px;
}

.messsage-img{
    width: 90%;
    margin-left: 2.5%;
    border-radius: 10px;
}

.blue-message{
    color: white;
}