<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/menuprincipal" text="Accueil"></ion-back-button>
  </ion-buttons>
<ion-title>Page de connexion</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>


 <div class="padding">
  

<div class="user">
  <ion-icon color="light" name="person-circle-outline"></ion-icon>
</div>


  <ion-item>
    <ion-label >Nom | Prénom</ion-label>
    <ion-input  placeholder="Votre nom et prénom" type="text"></ion-input>
  </ion-item>
<br>


  <ion-item>
    <ion-label>Ville</ion-label>
    <ion-input  placeholder="Votre ville" type="text"></ion-input>
  </ion-item>
<br>


<ion-item>
  <ion-label>Email</ion-label>
  <ion-input  placeholder="Votre adresse mail" type="email"></ion-input>
</ion-item>
<br>


<ion-item>
  <ion-label>Mot de passe</ion-label>
  <ion-input  placeholder="Votre mot de passe" type="password"></ion-input>
</ion-item>
<br>

<ion-item lines="none">
  <ion-button fill="clear" slot="end">Mot de passe oublié ?</ion-button>
</ion-item>

<br>
<br>
<br>
<ion-button routerLink="/profil" fill="outline" color="light" shape="round" expand="block">Connexion</ion-button>
<br>
<ion-button shape="round" expand="block">S'inscrire</ion-button>


</div>
</ion-content>
